body{
    background-color: rgb(9, 255, 181);
    background-attachment: fixed;
    margin: 0;
    font-family: 'poppins',sans-serif;
}

#form{
    width: 700px;
    margin: 20vh auto 0 auto;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 30px;
    
}

#form h1{
    text-align: center;
    color: black;
}

#form button{
    background-color: cornflowerblue;
    color: white;
    border: 1px solid cornflowerblue;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 0px;
    cursor: pointer;
    font-size: 20px;
    width: 100%;
}

.container-input
{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
 .container-input input{
    border-radius: 5px ;
    font-size: 20px;
    margin-top: 5px;
    padding:  10px;
    border: 1px solid cornflowerblue;
 }

 .container-input input:focus{
    outline: 0; 
 }

 .container-input.error{
    color: red;
    font-size: 16px;
    margin-top: 5px
 }

 .container-input .success input{
    border-color: #0cc477;
 }
 .container-input .error input{
    border-color: red;
 }

 .container-id {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    font-size: 15px;
    
 }

.container-id input{
    border-radius: 5px ;
    font-size: 20px;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid cornflowerblue;
    margin-right:auto;

    
}

.container-id label{
    
    margin-left: auto; 
}

.container-id .name{
    margin-left: 27%;
    position: absolute;
}

.container-id .id{
    margin-right: 28%;
    position: absolute;
}
